section {
    text-align: center;
    background-color: #eee9e9;
    padding: 30px;
    margin: 1%;
    border-radius: 5px;
    margin: 5%;
}

.img-1 {
    width: 1180px;
    padding-left: 60px;
    align-self: center;
}

.sem {
    padding: 0px;
    width: 200px;
    text-align: center;
    font-size: 20px;
    color: #1680ff;
}

.color {
    color: #1680ff;
}

.color1 {
    color: #1680ff;
}

.color2 {
    color: #1680ff;
}

.color3 {
    color: #1680ff;
}

.color4 {
    color: #1680ff;
}

.color5 {
    color: #1680ff;
}

.text{
    width: 1515px;
}